@import url("normalize.css");

a{
    text-decoration: none;
}

.base{
    margin-top: 2vw;
}
.full-width{
    width: 100%;
}
.flex-container{
    display: flex;
    justify-content: center;
}
.flex-colum{
    flex-direction: column;
}
.flex-item{
    margin: 0 2vw;
}
.centralize{
    align-items: center;
    text-align: center;
}
.borda-cinza{
    border: 1px solid #dbdbdb;
}
.input-login{
    width: 18vw; 
    height: 2.4vw;
    border-radius: 4px;
}

.separador-ou{
    background-color: #dbdbdb;
    flex-grow: 1;
    flex-shrink: 1;
    height: 1px;
    position: relative;
    top: 0.45em;
}